html,
body {
  height: 100%;
}
.container {
  position: relative;
  background: #fff;
  min-height: 100%;
  -webkit-box-shadow: -2px 0 15px rgba(0, 0, 0, 0.4);
  box-shadow: -2px 0 15px rgba(0, 0, 0, 0.4);
}
.top-banner {
  margin-bottom: 0;
  line-height: 1;
}
.top-banner .col-md-2 {
  background: #9e90bc;
  font-size: 14px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
}
.top-banner .navbar-toggle {
  float: none;
  margin-left: 10px;
}
.top-banner .navbar-toggle .icon-bar {
  background-color: #e1d9e4;
}
.top-banner .navbar-toggle:focus .icon-bar,
.top-banner .navbar-toggle:hover .icon-bar {
  background-color: #9780ce;
}
.top-banner .col-md-7 {
  background: #e1d9e4;
}
.top-banner p {
  margin: 3px 0;
}
.top-header {
  position: relative;
  background-image: -webkit-linear-gradient(left, color-stop(#ffffff 55%), color-stop(#472e86 80%));
  background-image: linear-gradient(to right, #ffffff 55%, #472e86 80%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ff472e86', GradientType=1);
  height: 128px;
}
.top-header .logo {
  background: url("../img10/wkrainiechopina_small.png") no-repeat;
  width: 226px;
  height: 101px;
  margin: 5px 50% -10px auto;
  text-indent: -10000px;
}
.top-header .terms {
  width: 200px;
  color: #6a49b9;
  font-weight: 600;
  line-height: 1.1;
}
.main-brand {
  position: absolute;
  background: url("../img10/drzewo_small.png") no-repeat right top;
  top: 0;
  right: 0;
  z-index: 1;
}
.main-brand h1 {
  margin: 4px 10px;
  width: 200px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #fff;
  font-size: 18px;
  font-weight: 800;
  line-height: 1;
  text-shadow: 2px 2px 6px #000000, 0 0 1px #000000;
  text-align: right;
  text-transform: uppercase;
}
.main-brand h1 .big {
  font-size: 31px;
}
.main-brand h1 .x {
  display: inline-block;
  margin: 0 -3px -30px -10px;
  font-size: 44px;
  vertical-align: -18px;
}
.collapse-switch {
  position: relative;
  background: #472e86;
  padding-right: 65px;
  margin: 0 -10px;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 600;
  text-align: right;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.collapse-switch .navbar-toggle {
  position: absolute;
  background: #472e86;
  opacity: 0.5;
  margin: 0;
  top: 22px;
  right: 65px;
  z-index: 1;
}
.collapse-switch .navbar-toggle .icon-bar {
  background-color: #e1d9e4;
}
.collapse-switch .navbar-toggle:hover {
  opacity: 1;
}
@media (min-width: 992px) {
  .col-left {
    position: absolute;
    background: #9780ce;
    background-image: -webkit-linear-gradient(top, #472e86 44px, #9780ce 670px);
    background-image: linear-gradient(to bottom, #472e86 44px, #9780ce 670px);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff472e86', endColorstr='#ff9780ce', GradientType=0);
    width: 22.2222%;
    padding-top: 44px;
    top: 0;
    bottom: 0;
    left: 0;
    -webkit-box-shadow: 4px 0 4px rgba(0, 0, 0, 0.2);
    box-shadow: 4px 0 4px rgba(0, 0, 0, 0.2);
  }
  .col-left .tree {
    position: absolute;
    background: url("../img10/drzewo.png") no-repeat 0 0;
    width: 335px;
    height: 481px;
    top: 44px;
    right: 0;
  }
  .col-left > .col-md-9 {
    min-height: 480px;
  }
  .sponsors > div {
    position: relative;
    background: #e1d9e4;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    height: 44px;
    line-height: 42px;
  }
  .sponsors .sponsors-h {
    position: relative;
    background: #9e90bc;
    text-align: right;
    z-index: 1;
  }
  .sponsors .spons-h {
    position: absolute;
    display: block;
    margin-top: 0;
    height: 44px;
    right: 10px;
  }
  .sponsors .sponsors-h,
  .sponsors .sponsors-li {
    overflow: hidden;
  }
  .sponsors .sponsors-li {
    display: block;
  }
  .sponsors .sponsors-li ul {
    position: absolute;
    display: table;
    height: 44px;
    margin: 0;
    padding: 0;
  }
  .sponsors .sponsors-li li {
    position: relative;
    display: none;
    height: 44px;
    vertical-align: middle;
    line-height: 1;
  }
  .sponsors .sponsors-li li.active {
    display: table-cell;
    vertical-align: middle;
  }
  .sponsors .sponsors-li .brand {
    position: absolute;
    display: block;
    height: 44px;
    width: auto;
    min-width: 35px;
    margin-top: -22px;
    top: 50%;
    left: 2px;
    line-height: 41px;
  }
  .sponsors .sponsors-li .brand span,
  .sponsors .sponsors-li .brand img {
    vertical-align: middle;
  }
  .sponsors .sponsors-li p {
    display: none;
  }
  .top-header {
    background-image: none;
  }
  .top-header > .col-md-2 {
    z-index: 1;
  }
  .top-header .box_extra {
    float: right;
    background-color: #31708f;
    height: 133px;
    width: 200px;
    margin-right: -10px;
  }
  .top-header .logo {
    position: static;
    background: url("../img10/logo_f1.png") no-repeat center;
    height: 133px;
    width: auto;
    margin: 0 200px 0 0;
  }
  .top-header .terms {
    width: auto;
  }
}
