<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="utf-8">
  <meta name="Keywords" content="wiłkomirski,wilkomirski,kazimierz,chopin,fryderyk chopin,w krainie chopina,festywal muzyczny,towarzystwo,muzyka,koncert,festiwal,kultura,działalność kulturalna,edukacja kulturalna,sztuka,sztuki piękne,wychowanie przez sztuki piękne,muzyczny,kazimierza,wiłkomirskiego,festiwalu,muzyczne,starych,babicach,utwory,towarzystwa,artystycznymi,koncertów,stare,babice">
  <meta name="Description" content="Festywal Muzyczny W Krainie Chopina - Towarzystwo Muzyczne im. Kazimierza Wiłkomirskiego w Starych Babicach">
  <meta name="Author" content="Piotr Wojciechowski - piotr.wojciechowski@kontakt.waw.pl">
    <meta name="google-site-verification" content="2IKcnrp6DsFAg_nj9wFdfV1hNVSb-57sP8DM6QjnYIU">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Towarzystwo Muzyczne im. Kazimierza Wiłkomirskiego</title>

    <link href="http://www.chopinfestiwal.wilkomirski.org.pl/favicon.ico" rel="shortcut icon">
  <link rel="stylesheet" href="global/css/bootstrap.css">
  <link rel="stylesheet" href="global/css/style.css">
  <!-- if isset({{doNaglowka}}) -->{{doNaglowka}}<!-- endif -->

  <!--[if lt IE 9]><script src="js/html5shiv.js"></script><![endif]-->
</head>
<body class="{{bodyClass}}">

<nav class="languages">
    <ul>
        <li class="active"><a href="" class="pl">po polsku</a></li>
        <li><a href="./uk" class="uk">english</a></li>
    </ul>
</nav>
<div class="container">
    <aside class="row top-banner navbar-default navbar-inner sponsors" rule="banner">
        <div class="col-md-2 navbar-header sponsors-h">
            <span class="spons-h"></span>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sopns-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="col-md-7 sopns-collapse collapse sponsors-li">
            <!-- if isset({{topbanner}}) -->
            {{topbanner.content}}
            <!-- endif -->
        </div><!--/.nav-collapse -->
    </aside>

    <header class="row top-header" rule="header">
        <div class="col-md-2">
            <div class="main-brand">
                <h1><span class="x">X</span> jubileuszowy FESTIWAL MUZYCZNY <span class="big">W&nbsp;KRAINIE CHOPINA</span></h1>
            </div>
        </div>
        <div class="col-md-7 col-right">
            <!-- if isset({{slideshow}}) -->
            <div class="box_extra">
                {{slideshow}}
            </div>
            <!-- endif -->
            <div class="logo"><a id="logo">W krainie Chopina - festiwal muzyczny</a></div>
            <div class="terms">
            <h2 class="edition">
                IX letnia edycja 31 maja - 29 września 2013
            </h2>
            </div>
        </div>
    </header>

    <div class="row main">
        <div class="col-left clearfix">
            <div class="tree"></div>
            <section class="col-md-9">
                <div class="collapse-switch">
                    manu:
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="nav-collapse collapse">
                    <nav class="mainmenu">
                <ul>
                    <!-- loop menu -->
                    <li<!-- if {{section}} == {{menu' v.@id_m}} --> class="active"<!-- elseif {{group}} == {{menu' v.@id_m}} --> class="activegroup"<!-- endif -->><a href="{{app_url}}<!-- if {{menu' v.@id_m}} != 1 -->?grp={{menu' v.@menu}}&dzial={{menu' v.@id_m}}<!-- endif -->">{{menu' v.@DaneMenu8[0].@nazwa}}</a><!-- if isset({{menu' v.@submenu}}) -->
                        <ul>
                            {{submenu(menu' v.@submenu, app_url, section)}}
                        </ul>
                    <!-- endif --></li>
                    <!-- endloop -->
                </ul>
            </nav>

            <form action="/index.php" method="post" id="mail">
                    <p class="text-center">Jeśli chcesz otrzymywać aktualne informacje<span class="more">...<a href="#">>>></a></span>
                    <span class="text hide">o&nbsp;koncertach i imprezach organizowanych przez nasze towarzystwo, podaj swój adres e-mail i&nbsp;naciśnij [Zapisz].<br>
                    Zaś jeśli będziesz chciał zrezygnować - wpisz adres <span class="nbsp">e-mail</span> i naciśnij [Wypisz]
                </span></p>
                    <input type="text" name="email" id="email" value="" class="form-control" placeholder="wpisz swój e-mail">
                    <button name="unsubscribe" class="btn btn-primary btn-sm pull-right">Wypisz</button>
                    <button name="subscribe" class="btn btn-primary btn-sm">Zapisz</button>
            </form>

            <aside id="last-updated">
                <p class="text-right"><strong>Ostatnia aktualizacja:<br>{{update}}</strong></p>
            </aside>
                </div>
            </section>
        </div>

        <section class="col-md-7 col-md-offset-2 col-right">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Aktualności</li>
            </ol>

            <!-- if isset({{articles}}) -->
            <!-- loop articles -->
            <article id="article{{l' v.id}}"<!-- if {{l' v.class}} > '' --> class="{{l' v.class}}"<!-- endif -->>
                <h1 class="text-center">{{l' v.title}}</h1>
                <div>
                    {{l' v.content}}
                </div>
            </article>
            <!-- endloop -->
            <!-- endif -->

        </section>
    </div>

    <footer class="row">
    <div class="col-md-2">
        <p class="text-right"><strong>Towarzystwo Muzyczne<br>
                im.&nbsp;Kazimierza Wiłkomirskiego<br>
                05-080 Stare Babice<br>
                ul. Polna 40<br>
                <a href="http://www.wilkomirski.org.pl">www.wilkomirski.org.pl</a><br>
                <a href="mailto:poczta@wilkomirski.org.pl">poczta@wilkomirski.org.pl</a>
                <a href="mailto:ksiegowosc@wilkomirski.org.pl">ksiegowosc@wilkomirski.org.pl</a>
            <a class="master" href="mailto:piotr.wojciechowski@kontakt.waw.pl">webmaster</a></strong>
            </p>
        </div>
    <div class="col-md-7">
        <p class="text-right"><a href="#">do góry</a></p>
        </div>
    </footer>

  <!-- if isset({{print}}) -->
<pre>
  {{print}}
</pre>
  <!-- endif -->

  group = {{group}}<br>
  section = {{section}}
</div>

<!-- if isset({{bottombanner}}) -->
<div id="sponsors">
    <div class="blok">
        {{bottombanner.content}}
        <div class="clear"></div>
    </div>
</div>
<!-- endif -->

<script src='global/js/steal/steal.js?main.js'></script>
<!--<script language="javascript">AC_FL_RunContent = 0;</script>
<script src="global/js/AC_RunActiveContent.js"></script>
<script src="global/js/jquery-1.10.2.min.js"></script>
<script src="global/js/main.js"></script>-->

<!-- if isset({{skrypt}}) --><script src="{{skrypt}}"></script><!-- endif -->

</body>
</html>
